* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background: linear-gradient(90deg, #B79891 0%, #94716B 100%);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
  align-items: center;
}
.nav__logo img {
  margin-right: 15px;
}
.nav__logo--content {
  color: white;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}
.nav__logo--content h4 {
  font-size: 20px;
}
.nav__logo--content p {
  font-size: 14px;
}
.nav__lists {
  display: none;
}
.nav__call {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-left: 20px;
}
.nav__call p {
  cursor: copy;
  color: white;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

.main-link {
  font-size: 14px;
  display: inline-block;
  padding: 5px 12px;
  color: white;
  background-color: #80A529;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .nav__logo--content {
    font-family: "Comfortaa", cursive;
    font-weight: 700;
  }
  .nav__logo--content h4 {
    font-size: 25px;
  }
  .nav__logo--content p {
    font-size: 18px;
  }
  .nav__lists {
    display: flex;
  }
  .nav__lists--item {
    text-transform: uppercase;
    list-style: none;
    margin-right: 20px;
  }
  .nav__lists--item a {
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .nav__call p {
    font-size: 14px;
  }
  .main-link {
    font-size: 18px;
    padding: 12px 81px;
  }
}
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 85px 30px;
}
.home__content {
  color: #1E1E1E;
}
.home__content h1 {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 30px;
}
.home__content h4 {
  margin-top: 30px;
  margin-bottom: 35px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.home__content h4 .fa-location-dot {
  color: #94716B;
}
.home__content p {
  margin-top: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.home__content .main-link {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 30px;
  background: linear-gradient(90deg, #B79891 0%, #94716B 100%);
  color: white;
  border-radius: 4px;
}
.home__img {
  display: none;
}
.home__img img {
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .home {
    padding-bottom: 60px;
  }
  .home-container {
    padding: 55px 90px;
  }
  .home__content h1 {
    font-size: 50px;
  }
  .home__content h4 {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 20px;
  }
  .home__content p {
    font-size: 26px;
    margin-top: 20px;
  }
  .home__img {
    display: inline-block;
  }
}
.occupy {
  background: linear-gradient(90deg, #B79891 0%, #94716B 100%);
  padding: 30px 0;
}
.occupy h1 {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.occupy__flex {
  display: flex;
  position: relative;
}
.occupy__form {
  width: 100%;
}
.occupy__form > input {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 50px;
  padding: 14px;
  outline: none;
  margin: 5px;
}
.occupy__form-label {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.occupy__label {
  display: inline-block;
}
.occupy img {
  display: none;
}

@media screen and (min-width: 768px) {
  .occupy {
    padding: 30px 0;
  }
  .occupy h1 {
    font-size: 30px;
  }
  .occupy__form {
    width: 60%;
  }
  .occupy__form > input {
    width: 48%;
  }
  .occupy__label {
    display: none;
  }
  .occupy img {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: -110px;
  }
}
.room {
  margin-top: 80px;
}
.room__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.room__img li {
  list-style: none;
  position: relative;
  margin-right: 0px;
  margin-top: 10px;
}
.room__img li img {
  border-radius: 5px;
}
.room__img li p {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 38%;
}
.room__content {
  display: flex;
  justify-content: space-between;
}

.fa-chevron-left, .fa-chevron-right {
  display: none;
}

@media screen and (min-width: 768px) {
  .room__img li {
    margin-right: 8px;
    margin-top: 0px;
  }
  .fa-chevron-left, .fa-chevron-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    padding: 20px;
    color: white;
    cursor: pointer;
  }
  .fa-chevron-left {
    top: 40%;
    left: -20px;
    background: #C9B8B5;
  }
  .fa-chevron-right {
    top: 40%;
    left: 270px;
    background: linear-gradient(90deg, #B79891 0%, #94716B 100%);
  }
}
header {
  width: 100%;
  padding: 20px 0;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .container {
    width: 600px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
body {
  background: url(../images/background\ pattern.png);
  background-size: cover;
  background-position: right;
}

.heading-one {
  font-size: 30px;
  font-weight: 700;
  font-family: "Comfortaa", cursive;
  margin-bottom: 40px;
}

.home {
  background: url(../images/bg-home-right.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=main.css.map */
