@use "base/base";
@use "components/menu";
@use "pages/home";
@use "layout";


.home {
    background: url(../images/bg-home-right.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40%;
}