@use "../abstract/variables";
@use "../abstract/mixins";

.home {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 85px 30px;
    }
    &__content {
        color: variables.$main-text-color;
        h1 {
            font: {
                family: 'Comfortaa', cursive;
                weight: 700;
                size: 30px;
            }
        }
        h4 {
            margin-top: 30px;
            margin-bottom: 35px;
            font: {
                family: 'Nunito', sans-serif;
                weight: 600;
                size: 15px;
            }
            .fa-location-dot {
                color: #94716B;
            }
        }
        p {
            margin-top: 20px;
            font: {
                family: 'Nunito', sans-serif;
                weight: 400;
                size: 20px;
            }
        }
        .main-link {
            display: inline-block;
            margin-top: 25px;
            padding: 12px 30px;
            background: variables.$gradient-bg-color;
            color: variables.$text-white;
            border-radius: 4px;
        }
    }
    &__img {
        display: none;
        img {
            border-radius: 4px;
        }
    }
}


@include mixins.media-md {
    
    .home {
        padding-bottom: 60px;
        &-container {
            padding: 55px 90px;
        }
        &__content {
            h1 {
                font-size: 50px;
            }
            h4 {
                margin-top: 30px;
                margin-bottom: 35px;
                font-size: 20px;
            }
            p {
                font-size: 26px;
                margin-top: 20px;
            }
        }
        &__img {
            display: inline-block;
        }
    }
}