@use "../abstract/variables";
@use "../abstract/mixins";

.room {
    margin-top: 80px;
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li {
            list-style: none;
            position: relative;
            margin-right: 0px;
            margin-top: 10px;
            img {
                border-radius: 5px;
            }
            p {
                cursor: pointer;
                font: {
                    family: 'Nunito', sans-serif;
                    size: 16px;
                    weight: 400;
                }
                color: variables.$text-white;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 45%;
                left: 38%;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        li {
            width: 100%;
            margin-top: 20px;
            list-style: none;
            padding: 40px;
            background: #FFFFFF;
            border: 1px solid #F8F8F8;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
            border-radius: 5px;
        }
    }
}

.fa-chevron-left, .fa-chevron-right {
    display: none;
}

.prices {
    color: variables.$main-text-color;
    h2 {
        font: {
            family: 'Nunito', sans-serif;
            size: 20px;
            weight: 600;
        }
    }
    h3 {
        margin-top: 20px;   
        font: {
            family: 'Nunito', sans-serif;
            size: 16px;
            weight: 600;
        }
    }
    p {
        font: {
            family: 'Nunito', sans-serif;
            size: 16px;
            weight: 600;
        }
    }
    &__span {
        color: variables.$second-text-color;
    }
    .main-link {
        width: auto;
        padding: 10px 20px;
        margin-top: 20px;
    }
}

.capacity {
    h2 {
        font: {
            family: 'Nunito', sans-serif;
            size: 18px;
            weight: 700;
        }
        color: #94716B;
    }
    p {
        margin-top: 5px;
        color: variables.$main-text-color;
        font: {
            family: 'Nunito', sans-serif;
            size: 16px;
            weight: 400;
        }
    }
    h3 {
        margin-top: 25px;
        color: #94716B;
        font: {
            family: 'Nunito', sans-serif;
            size: 18px;
            weight: 700;
        }
    }
    h4 {
        margin-top: 5px;
        color: variables.$main-text-color;
        font: {
            family: 'Nunito', sans-serif;
            size: 16px;
            weight: 400;
        }
    }
}

.aquazone {
    color: variables.$main-text-color;
    &__item {
        &:first-child {
            margin-top: 0;
        }
        margin-top: 33px;
        display: flex;
        align-items: center;
        position: relative;
        p {
            margin-left: 7px;
            font: {
                family: 'Nunito', sans-serif;
                size: 16px;
                weight: 600;
            }
        }
        .fa-sharp {
            position: absolute;
            right: 0;
            color: #1E1E1E;
            cursor: pointer;
        }
    }
}



@include mixins.media-md {

    .room {
        &__img {
            li {
                margin-right: 8px;
                margin-top: 0px;
            }
        }
        &__content {
            justify-content: space-between;
            flex-direction: row;
            margin-top: 0;
            li {
                width: 31%;
            }
        }
    }

    .fa-chevron-left, .fa-chevron-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        padding: 20px;
        color: variables.$text-white;
        cursor: pointer;
    }

    .fa-chevron-left {
        top: 40%;
        left: -20px;
        background: #C9B8B5;
    }
    
    .fa-chevron-right {
        top: 40%;
        left: 270px;
        background: linear-gradient(90deg, #B79891 0%, #94716B 100%);
    }
}